{% extends 'base.html' %}
{% block content %}

<h2>Tareas </h2>
{% if not es_empleado_formulador_proyectos %}
<a href="{% url 'crearTarea' id %}" class="btn btn-primary">Crear Tarea</a> 
{% endif %}
<a href="{% url 'proyecto' id %}" class="btn btn-primary">Volver</a>
<table border ="2">
    <thead>
        <tr>
            <th>Nombre de la tarea</th>
            <th>Descripcion</th>
            <th>Estado</th>
            <th>Fecha de inicio</th>
            <th>Fecha de fin</th>
            <th>Encargado</th>
            <th>Proyecto</th>
            {% if not es_empleado_formulador_proyectos %}
            <th>Opciones</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for tarea in tarea %}
        <tr>
            <td>{{ tarea.nombre }}</td>
            <td>{{ tarea.descripcion }}</td>
            <td>{{ tarea.estado }}</td>
            <td>{{ tarea.fecha_inicio }}</td>
            <td>{{ tarea.fecha_fin }}</td>
            <td>{{ tarea.encargado }}</td>
            <td>{{ tarea.proyecto }}</td>
            {% if not es_empleado_formulador_proyectos %}
            <td>    
                    <a href="{% url 'editarTarea' tarea.id %}">Editar</a> 
                    <a href="{% url 'eliminarTarea' tarea.id %}">Eliminar</a> 
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}