{% extends 'base.html' %}
{% block content %}
<main style="margin-top: 30px; margin-left: 30px;">
    <i class="fas fa-briefcase"  style="font-size: 30px; margin-bottom: 25px;"></i>
    <h1 class="text-2xl font-bold mb-4" style="display: inline-block;">Administración de Proyecto</h1>
    <table cellpadding="4" cellspacing="6" style="width: 90%; border-collapse: collapse; border: 1px solid #000;">
        <table style="width: 80%; border-collapse: collapse; margin-top: 20px;">
            <tr>
                <td class="text-center border border-black" style="width: 12.5%;">
                    <div class="mb-4">
                        <p class="block text-gray-600 text-sm font-bold mb-2 ">Nombre:</p>
                        <p class="font-bold">{{proyecto.nombre}}</p>
                    </div>
                </td>
                <td class="text-center border border-black" style="width: 12.5%;">
                    <div class="mb-4">
                        <p class="block text-gray-600 text-sm font-bold mb-2">Autorización:</p>
                        <p class="{% if proyecto.aprobado %}text-green-500 font-bold {% else %}text-red-500 font-bold {% endif %}">
                            {% if proyecto.aprobado %}Aprobado{% else %}Pendiente{% endif %}
                        </p>
                    </div>
                </td>
                <td class="text-center border border-black" style="width: 12.5%;">
                    <div class="mb-4">
                        <p class="block text-gray-600 text-sm font-bold mb-2">Objetivo:</p>
                        <p class="font-bold"> {{proyecto.objetivo}}</p>
                    </div>
                </td>
                <td class="text-center border border-black" style="width: 12.5%;">
                    <div class="mb-4">
                        <p class="block text-gray-600 text-sm font-bold mb-2">Fecha de Inicio:</p>
                        <p class="font-bold">{{proyecto.fecha_inicio}}</p>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="text-center border border-black" style="width: 12.5%;">
                    <div class="mb-4">
                        <p class="block text-gray-600 text-sm font-bold mb-2">Fecha de Finalización:</p>
                        <p class="font-bold">{{proyecto.fecha_fin}}</p>
                    </div>
                </td>
                <td class="text-center border border-black" style="width: 12.5%;">
                    <div class="mb-4">
                        <p class="block text-gray-600 text-sm font-bold mb-2">Estado del Proyecto:</p>
                        <p class="font-bold">{{proyecto.estado}}</p>
                    </div>
                </td>
                <td class="text-center border border-black" style="width: 12.5%;">
                    <div class="mb-4">
                        <p class="block text-gray-600 text-sm font-bold mb-2">Presupuesto (USD):</p>
                        <p class="font-bold">${{proyecto.presupuesto}}</p>
                    </div>
                </td>
                <td class="text-center border border-black" style="width: 12.5%;">
                    <div class="mb-4">
                        <p class="block text-gray-600 text-sm font-bold mb-2">Encargado:</p>
                        <p class="font-bold">{{proyecto.encargado}}</p>
                    </div>
                </td>
            </tr>
        </table>
        
        
</table>
<div style="margin-top: 30px;" class="flex justify-between space-x-4">
    <div class="flex">
        {% if not es_inversor %}
            <a href="{% url 'listaTarea' id %}" class="w-20 h-8 py-1 px-2 bg-green-500 text-white rounded-md hover:bg-green-600 focus:outline-none focus:ring focus:ring-opacity-50 font-bold text-center" >Tareas</a>&nbsp;
            <a href="{% url 'listaRecurso' id %}" class="w-20 h-8 py-1 px-2 bg-purple-500 text-white rounded-md hover:bg-purple-600 focus:outline-none focus:ring focus:ring-opacity-50 font-bold text-center" >Recursos</a>
        {%endif%}
    </div>
    {% if es_administrador %}
        {% if not proyecto.aprobado %}
        <form method="POST" action="{% url 'aprobarProyecto' proyecto.id %}" class="flex-1">
            {% csrf_token %}
            <button type="submit" class="w-20 h-8 py-1 px-2 bg-blue-500 text-white rounded-md hover:bg-blue-600 focus:outline-none focus:ring focus:ring-opacity-50 font-bold text-center">Aprobar</button>
        </form>
        {% endif %}
    
    {% endif %}
    <a href="{% url 'listaReporte' id %}"  class="w-40 h-8 py-1 px-2 bg-blue-500 text-white rounded-md hover:bg-blue-600 focus:outline-none focus:ring focus:ring-opacity-50 font-bold text-center" style="margin-right: 20%;">Ver Reportes</a>
</div>


</main>

<h2 class="text-2xl font-bold mt-4" style="margin-top:40px;text-align: center;">Calendario del Proyecto {{proyecto.nombre}}</h2>

<div id="calendar" class="calendario-container">
    <!-- Contenido del calendario -->
</div>
{% endblock %}
{% block extra_js %}
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.9/index.global.min.js'></script>
<script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "dc4641f860664c6e824b093274f50291"}'></script>
<style>
  .calendario-container {
    width: 60%; /* Ancho del calendario, puedes ajustar el valor según tus necesidades */
    padding-right: 50px; /* Ajusta este valor para mover el calendario hacia la derecha */
    height: 600px; /* Altura del calendario, puedes ajustar el valor según tus necesidades */
    margin: 0 auto; /* Esto centrará el calendario horizontalmente */
  }
</style>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');

        var calendar = new FullCalendar.Calendar(calendarEl, {
          initialView: 'dayGridMonth',
          initialDate: '2023-11-01',
          locale: 'es',
          headerToolbar: {
            left: 'prev,next today',
            center: 'title',
            right: 'dayGridMonth,timeGridWeek,timeGridDay'
          },
          events: [
            {% for tareas in tareas %}
            {
              title: "{{tareas.nombre}} - {{tareas.estado}}",
              start: "{{tareas.fecha_inicio | date:'Y-m-d'}}",
              end: "{{tareas.fecha_fin | date:'Y-m-d'}}",
              {% if tareas.estado == "Pendiente" %}
              backgroundColor: '#E76D7E', //red
              textColor: '#fff' //white
              {% endif %}
              {% if tareas.estado == "Progreso" %}
              backgroundColor: '#83D0F7', //red
              textColor: '#fff' //white
              {% endif %}
              {% if tareas.estado == "Completada" %}
              backgroundColor: '#B3E17A', //red
              textColor: '#fff' //white
              {% endif %}
            },
            {% endfor %}
          ]
        });

        calendar.render();
      });
</script>
{% endblock extra_js %}