<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-store, no-cache, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title>{% block title %}Sistema Gestor de Proyectos{% endblock %}</title>
    {% block extra_head %}

    {% endblock %}
</head>
<body>
    <header>
        <nav>
            <span>{{ user.username }}</span>
            <ul>
                <li><a href="{%url 'home'%}">Inicio</a></li>
                {%if user.is_superuser%}
                <li><a href="{% url 'signup' %}">Registrarse</a></li>
                {% endif %}
                {% if user.is_authenticated %}
                <li><a href="{% url 'logout' %}">Cerrar Sesión</a></li>
                {% endif %}
                {% if user.is_authenticated %}
                <li><a href="{% url 'gestionar_proyecto' %}">Proyectos</a></li>
            {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    {% block extra_js %}
    {% endblock extra_js %}
</body>
</html>
